/* ---------------------- Responsive CSS ---------------------- */

/* Adjust font size for smaller screens */
@media only screen and (max-width: 1140px) {
    html {
        font-size: 17px;
    }

    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .section {
        width: 100vw;
    }

    .contentbox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contentbox .name {
        padding: 1.5rem 1rem;
        text-align: center;
        flex-wrap: nowrap;
    }

    .btnbox {
        justify-content: center;
    }

    #gallarybox {
        width: 80vw;
        padding: 1.5vw;
    }

    #gallaryplate {
        width: 77vw;
    }

    #gallaryplate img {
        width: 77vw;
    }
    @keyframes imgslide {
        0%{
            left: 0vw;
        }
        30%{
            left: 0vw;
        }
        35%{
            left: -77vw;
        }
        65%{
            left: -77vw;
        }
        70%{
            left: -154vw;
        }
        100%{
            left: -154vw;
        }
    }
}


@media only screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
    body {
        background: url(../Images/tablet-bg.jpg);
        background-position: top;
        background-size: contain;
    }
    .btnbox{
        margin-top: 1rem;
    }
    #gallarybox {
        margin: 1.5rem 0;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
    body {
        background: url(../Images/phone-bg.jpg);
        background-position: top;
        background-size: contain;
    }
    #gallarybox {
        width: 90vw;
        padding: 1.5vw;
    }

    #gallaryplate {
        width: 87vw;
    }

    #gallaryplate img {
        width: 87vw;
    }
    @keyframes imgslide {
        0%{
            left: 0vw;
        }
        30%{
            left: 0vw;
        }
        35%{
            left: -87vw;
        }
        65%{
            left: -87vw;
        }
        70%{
            left: -174vw;
        }
        100%{
            left: -174vw;
        }
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 13px;
    }

    .contentbox .name {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 340px) {
    html {
        font-size: 12px;
    }

    .contentbox .name {
        font-size: 5rem;
    }
}